In [2]:
import pandas as pd
import numpy as np

In [8]:
data1 = pd.read_csv("data/4.Mitake.csv")
print(data1.shape)
data1.head()

(886181, 2)

                                                 url  label
0                          artv82011.eventbrite.com/      0
1  atmegastars.com/content/Monique-Gabrielle.aspx...      0
2                         www.sugarnsalt.tumblr.com/      0
3                       jreast-card.xmsncuosebha.com      1
4  mentalgoaltending.com/Jean_Sebastien_Giguere.html      0

In [4]:
data0 = pd.read_csv("Phishing_URL_1.csv")
data0.head()

   Unnamed: 0                                                url  label
0           0                                    69.162.100.198/    1.0
1           1                                babicz123.ddns.net/    1.0
2           2                             highpowerresources.com    1.0
3           3   intent.nofrillspace.com/users/web11_focus/380...    1.0
4           4   intent.nofrillspace.com/users/web11_focus/430...    1.0

In [5]:
data0 = data0.drop(columns = ["Unnamed: 0"])
#data0.columns = ["index0", "url", "label0"]
data0.head()

                                                 url  label
0                                    69.162.100.198/    1.0
1                                babicz123.ddns.net/    1.0
2                             highpowerresources.com    1.0
3   intent.nofrillspace.com/users/web11_focus/380...    1.0
4   intent.nofrillspace.com/users/web11_focus/430...    1.0

In [20]:
merge01 = pd.merge(data0,data1,on="url",how="outer")

In [21]:
merge01 = merge01.drop_duplicates("url")

In [24]:
merge01 = merge01.reset_index()
merge01.head(15)

    index                                                url  label_x  label_y
0      10                                    69.162.100.198/      1.0      1.0
1      11                                babicz123.ddns.net/      1.0      1.0
2      12                             highpowerresources.com      1.0      1.0
3      13   intent.nofrillspace.com/users/web11_focus/380...      1.0      1.0
4      14   intent.nofrillspace.com/users/web11_focus/430...      1.0      1.0
5      15   mister.nofrillspace.com/users/web8_dice/3791/...      1.0      1.0
6      16                                    %supdate_%d.exe      1.0      1.0
7      17  '0000502.rcomhost.com/secure-listings-redirect...      1.0      1.0
8      18  '01jt.com/js/?us.battle.net/login/en/?ref=http...      1.0      1.0
9      19  '0576tz.com/js/?us.battle.net/login/en/?ref=ht...      1.0      1.0
10     20  '100dollardomain.com/?rid=http\%3A\%2F\%2F0x59...      1.0      1.0
11     21         '118bm.com/images/?app=com-d3&amp;\%A0...'      1.0      1.0
12     22     '118bm.com/images/?app=com-d3&amp;\%C2\%A0...'      1.0      1.0
13     23  '118bm.com/images/?app=com-d3&amp;\%C3\%82\%C2...      1.0      1.0
14     24  '118bm.com/images/?app=com-d3&amp;ref=http\%3A...      1.0      1.0

In [26]:
merge01 = merge01.drop("index", axis=1)

In [27]:
merge01.head()

                                                 url  label_x  label_y
0                                    69.162.100.198/      1.0      1.0
1                                babicz123.ddns.net/      1.0      1.0
2                             highpowerresources.com      1.0      1.0
3   intent.nofrillspace.com/users/web11_focus/380...      1.0      1.0
4   intent.nofrillspace.com/users/web11_focus/430...      1.0      1.0

In [42]:
#1270136 1270088
#merge01 = merge01.drop([x for x in range(1270088,1270136)])
merge01 = merge01.reset_index()
merge01.tail()

,level_0,index,url,label_x,label_y
1270084,1270084,1270084,zzzz.vrshoukai.xyz/_,NaN,1.0
1270085,1270085,1270085,zzzzzfdsfsew.nbcbm.xyz/,NaN,1.0
1270086,1270086,1270086,zzzzzzzzzzz.londrisolar.com.br/?email=,NaN,1.0
1270087,1270087,1270087,zzzzzzzzzzzzzzz.hyperphp.com/,NaN,1.0
1270088,1270088,1270136,﻿smbc-card.nmqvzsx.cn/,NaN,1.0

In [31]:
merge01.shape

(1270137, 3)

In [43]:
label1 = merge01[ merge01["label_x"] == merge01["label_y"] ]
label2 = merge01[ (merge01["label_x"].isna()) | (merge01["label_y"].isna())  ]
labelled = pd.merge(label1, label2, how = "outer")
labelled.head()

,level_0,index,url,label_x,label_y
0,0,0,69.162.100.198/,1.0,1.0
1,1,1,babicz123.ddns.net/,1.0,1.0
2,2,2,highpowerresources.com,1.0,1.0
3,3,3,intent.nofrillspace.com/users/web11_focus/380...,1.0,1.0
4,4,4,intent.nofrillspace.com/users/web11_focus/430...,1.0,1.0

In [44]:
def labelling(row):
    if (row.label_x == 1) | (row.label_x == 0):
        return row.label_x
    else:
        return row.label_y
    
def labelling1(row):
    return row["label_A"]


labelled["label"] = labelled.apply(labelling, axis =1)
labelled.drop(["label_x", "label_y"], axis = 1, inplace=True)

In [46]:
labelled =labelled.drop(["level_0", "index"], axis=True)
labelled.head()

                                                 url  label
0                                    69.162.100.198/    1.0
1                                babicz123.ddns.net/    1.0
2                             highpowerresources.com    1.0
3   intent.nofrillspace.com/users/web11_focus/380...    1.0
4   intent.nofrillspace.com/users/web11_focus/430...    1.0

In [47]:
labelled.to_csv("Phishing_URL_2.csv")

In [53]:
sum(labelled["label"] == 1)/labelled.count()

url      0.464516
label    0.464516
dtype: float64